.carrossel__titulo {
  color: var(--laranja);
  background-color: var(--branco);
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}

.swiper-slide imagens {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-wrapper {
  padding: 1em;
}

.card {
  background: var(--branco);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1em;
  padding: 1em;
}

.card__descrição {
  display: flex;
  justify-content: space-between;

  margin: 0.5em;
}

.descrição {
  display: flex;
  flex-direction: column;
}


.descrição img {
  width: 60%;
  margin: 0.5em 0;
}

.descrição__titulo {
  color: var(--laranja);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
}

.descrição__titulo-livro {
  color: var(--azul);
  font-weight: 700;
  font-size: 18px;
  margin: 0.5em 0;
  line-height: 1.5em;
}

.descrição__texto {
  font-size: 14px;
  font-weight: 400;
  width: 80%;
  line-height: 1.5em;
}


.card__botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0.5em 0;
}

.botoes {
  display: flex;
}

.botoes__item {
  margin: 0 0.6em;
}

.botoes__link {
  background-color: var(--laranja);
  color: var(--branco);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 1em 2.2em;
}
