.container__topicos {
  text-align: center;
  background: var(--azul-degrade);
  padding: 1em 0;
}

.container__topicos__titulo {
  font-size: 16px;
  font-weight: 400;
  color: var(--branco);
  margin-bottom: 1em;
  text-transform: uppercase;
}

.container__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.lista__itens a {
  text-decoration: none;
  list-style-type: none;
  color: var(--branco);
  font-size: 14px;
  font-weight: 700;
}

.lista__itens {
  padding: 1em 1.5em;
  background: var(--laranja);
}
